<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

<!-- 	<bean id="payroll_ds" -->
<!-- 		class="org.springframework.jdbc.datasource.DriverManagerDataSource"> -->
<!-- 		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" /> -->
<!-- 		<property name="url" -->
<!-- 			value="jdbc:oracle:thin:@192.168.10.117:1522:payrollqa" /> -->
<!-- 		<property name="username" value="EBBD" /> -->
<!-- 		<property name="password" value="EBBD" /> -->
<!-- 	</bean> -->

<!-- 	<bean id="intralot_ds" -->
<!-- 		class="org.springframework.jdbc.datasource.DriverManagerDataSource"> -->
<!-- 		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" /> -->
<!-- 		<property name="url" -->
<!-- 			value="jdbc:oracle:thin:@192.168.10.116:1521:INTRALOTQA" /> -->
<!-- 		<property name="username" value="ebbd" /> -->
<!-- 		<property name="password" value="ebbd" /> -->
<!-- 	</bean> -->

<!-- 	<bean id="dataSource" class="pe.com.human.servicios.configuracion.DataSourceDinamico"> -->
<!-- 		<property name="targetDataSources"> -->
<!-- 			<map> -->
<!-- 				<entry key="payroll" value-ref="payroll_ds" /> -->
<!-- 				<entry key="intralot" value-ref="intralot_ds" /> -->
<!-- 			</map> -->
<!-- 		</property> -->
<!-- 		<property name="defaultTargetDataSource" ref="payroll_ds" /> -->
<!-- 	</bean> -->
	
</beans>